#section-documents {
  &.uk-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(212, 243, 243);
    .tdb-view-reference-main {
      img {
        margin-bottom: 30px;
      }
    }
  }
}

#section-revue {
  &.uk-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(243, 214, 212);
    .tdb-view-reference-main {
      img {
        margin-bottom: 30px;
      }
    }
  }
}