#tdb-main-menu {
  background-color: #FFF;
  #tdb-main-desktop {
    .tdb-navbar-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .tdb-navbar-logo {
        width: 100px;
        #tdb-logo {
          .tdb-logo-svg {
            height: 93px;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.gm-open-w {
  visibility: hidden;
  display: none;
}

[aria-expanded="true"] + .gm-open-w{
  visibility: visible;
  display: block;
}

html:not(.js) .gm-open-w:focus-within,
html:not(.js) .gm-open-w:hover,
[aria-expanded="true"] + .gm-open-w {
  visibility: visible;
  display: block;
}

.page-menu-w {
  &:hover {
    .gm-menu-w{
      visibility: visible;
      display: block;
    }
  }
}

.tdb-navbar-wrapper {
  .db-menu-op {
    text-indent: -90000px;
    display: inline-block;
  }
  .gm-menu-open {
    background-color: #fff;
    border: 0px;
  }
}

div#gm-trgt-page {
  position: fixed;
  height: calc(100vh - 96px);
  background-color: #ea8787;
  left: 0;
  bottom: 0;
  width: 300px;
  .uk-navbar-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    li {
      width: 100%;
      a {
        color: #FFFFFF;
        min-height: 54px;
        justify-content: flex-start;
        &:hover {
          background-color: rgba(255,255,255,.2);
        }
      }
    }
    
  } 
}

#block-trstndbrtl-shoppingcartpopup {
  #commerce-cart-pop-block {
    top: 95px;
  }
}