{% if page.footer %}
	<footer class="gntl-footer uk-section uk-padding-remove-vertical">
		<div class="uk-container uk-container-small">
			<div class="gntl-footer-content uk-child-width-1-1@m" uk-grid>
				<div>
					{{ page.footer }}
				</div>
			</div>
		</div>
	</footer>
{% endif %}
