{% if page.breadcrumb %}
	<div class="gntl-breadcrumb uk-section uk-section-xsmall uk-padding-remove-bottom">
		<div class="uk-container">
			<div class="content uk-child-width-1-1@m" uk-grid>
				<div>
					{{ page.breadcrumb }}
				</div>
			</div>
		</div>
	</div>
{% endif %}
