<div id="gm-butterfly">    
  <div class="butterfly-container butterfly-container--one">
    <div class="butterfly butterfly--one"></div>
    <div class="blue"></div>
  </div>
  <div class="butterfly-container butterfly-container--two">
    <div class="butterfly butterfly--two"></div>
    <div class="blue"></div>
  </div>
  <div class="butterfly-container butterfly-container--three">
    <div class="butterfly butterfly--three"></div>
    <div class="blue"></div>
  </div>
  <div class="butterfly-container butterfly-container--four">
    <div class="butterfly butterfly--four"></div>
    <div class="blue"></div>
  </div>
  <div class="butterfly-container butterfly-container--five">
    <div class="butterfly butterfly--five"></div>
    <div class="blue"></div>
  </div>
  <div class="butterfly-container butterfly-container--six">
    <div class="butterfly butterfly--six"></div>
    <div class="blue"></div>
  </div>
</div>