{# Menu #}
{% include directory ~ '/templates/partials/gntl-menu.html.twig' %}
<div class="gntl-main">
	<main id="contenu-principal">
  {# Breadcrumb #}
		{% include directory ~ '/templates/partials/gntl-breadcrumb.html.twig' %}
		<div class="gntl-main-page uk-section uk-section-xsmall">
			<div class="uk-container uk-container-small">
				<div class="content uk-child-width-1-1@m" uk-grid>
					<div>
          {# Msg #}
						{% if page.msg %}
							{{ page.msg }}
						{% endif %}
            {# Content #}
						{{ page.content }}
					</div>
				</div>
			</div>
		</div>
	</main>
	{# Footer #}
	{% include directory ~ '/templates/partials/gntl-footer.html.twig' %}
</div>
